= form_for :bill do |f|
  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :bill_period
    = f.date_field :bill_period, class: 'form-control'
  = f.hidden_field :utility, value: utility
  = f.hidden_field :prior, value: prior
  = f.submit submit_text, class: 'form-control'
