%h1 What does this app do?
%p Using the correlation that gas and electric bills tend to have with weather temperature, this app simply applies linear regression to 'predict' what your next next month's bill will be. The more you use it, the more accurate predictions will be, as well as taking full advantage of the historical bill tracker.

.loader
  %br
  %p Just one moment!

%h1 What are my bills for next month?
.row
  .col-md-6
    %h2.electric-show Electric Bill
    %p.info (click to show detail)
    .electric-container
      - if !current_user.ready?('electric')
        .setup
          %h1 Setup
          %p Let's get started. First add three past electricity bills and try to pick at least one in the summer and one in the winter.
          - setup_left(@electric).times do |i|
            .form
              %p.electric-left #{setup_left(@electric) - i} bill(s) to go!
              = render partial: 'form', locals: {utility: 'electric', submit_text: 'Add electricity bill', prior: false}
      - if to_predict?(@electric) && current_user.ready?('electric')
        .predict
          %h1 Predict
          %p Ok, now using the most recent utility bill, let's predict what next month's bill will be.
          = render partial: 'form', locals: {utility: 'electric', submit_text: 'Predict electricity bill', prior: true}

      .view
        %h1 View
        %p Here is your predicted electricity bill for next month. From here, you can add the actual amount that you paid, as well as view historical bills.
        %p.electric-prediction

        .electric-bills
          %h1 Historical Electricity Bills
          .electric-graph{data: @electric.to_json }
          %table.table
            %tr
              %th Month
              %th Amount
              %th Temperature
              %th Prediction

            - @electric.each do |bill|
              %tr
                %td #{bill.bill_period.month}/#{bill.bill_period.year}
                %td $#{bill.amount}
                %td #{bill.temperature} F
                %td
                  - if bill.prediction
                    Yes
                  -else
                    No

  .col-md-6
    %h2.gas-show Gas Bill
    %p.info (click to show detail)
    .gas-container
      - if !current_user.ready?('gas')
        .setup
          %h1 Setup
          %p Let's get started. First add three past gas bills and try to pick at least one in the summer and one in the winter.
          - setup_left(@gas).times do |i|
            .form
              %p.gas-left #{setup_left(@gas) - i} bill(s) to go!
              = render partial: 'form', locals: {utility: 'gas', submit_text: 'Add gas bill', prior: false}
      - if to_predict?(@gas) && current_user.ready?('gas')
        .predict
          %h1 Predict
          %p Ok, now using the most recent utility bill, let's predict what next month's bill will be.
          = render partial: 'form', locals: {utility: 'gas', submit_text: 'Predict gas bill', prior: true}

      .view
        %h1 View
        %p Here is your predicted gas bill for next month. From here, you can add the actual amount that you paid, as well as view historical bills.
        %p.gas-prediction

        .gas-bills
          %h1 Historical Gas Bills
          .gas-graph{data: @gas.to_json }
          %table.table
            %tr
              %th Month
              %th Amount
              %th Temperature
              %th Prediction

            - @gas.each do |bill|
              %tr
                %td #{bill.bill_period.month}/#{bill.bill_period.year}
                %td $#{bill.amount}
                %td #{bill.temperature} F
                %td
                  - if bill.prediction
                    Yes
                  - else
                    No

%br
%br
