<h1>What does this app do?</h1>
<p>Using the correlation that gas and electric bills tend to have with weather
  temperature, this app simply applies linear regression to 'predict' what your next
  next month's bill will be. Sign up for more accurate predictions and a helpful historical bill tracker.</p>

<h1>What are my bills for next month?</h1>
<div class="row">
  <div class="col-md-6"><h2>Electric Bill</h2></div>
  <div class="col-md-6"><h2>Gas Bill</h2></div>
  <div class="col-md-6 setup">
    <h1>Setup</h1>
    <p>Let's get started. First add three past electricity bills and try to pick at least one in the summer and one in the winter.</p>
    <% 3.times do %>
      <%= render partial: 'form', locals: {utility: 'electric', submit_text: 'Add electricity bill'} %>
    <% end %>
  </div>
  <div class="col-md-6 setup">
    <h1>Setup</h1>
    <p>Let's get started. First add three past gas bills and try to pick at least one in the summer and one in the winter.</p>
    <% 3.times do %>
      <%= render partial: 'form', locals: {utility: 'gas', submit_text: 'Add gas bill'} %>
    <% end %>
  </div>
  <div class="col-md-6 predict">
    <h1>Predict</h1>
    <p>Ok, now using the most recent utility bill, let's predict what next month's bill will be.</p>
    <%= render partial: 'form', locals: {utility: 'electric', submit_text: 'Predict electricity bill'} %>
  </div>
  <div class="col-md-6 predict">
    <h1>Predict</h1>
    <p>Ok, now using the most recent utility bill, let's predict what next month's bill will be.</p>
    <%= render partial: 'form', locals: {utility: 'gas', submit_text: 'Predict gas bill'} %>
  </div>
  <div class="col-md-6 view">
    <h1>View</h1>
    <p>Here is your predicted electricity bill for next month. From here, you can add the actual amount that you paid, as well as view historical bills.</p>
    <%= render partial: 'form', locals: {utility: 'electric', submit_text: 'Add electricity bill'} %>
    <div class="electric-bills">
      <h1>Historical Electricity Bills</h1>
      <svg class="electric-graph"></svg>
      <table class="table">
        <tr>
          <th>Month</th>
          <th>Actual</th>
          <th>Predicted</th>
          <th>Difference</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6 view">
    <h1>View</h1>
    <p>Here is your predicted gas bill for next month. From here, you can add the actual amount that you paid, as well as view historical bills.</p>
    <%= render partial: 'form', locals: {utility: 'gas', submit_text: 'Add gas bill'} %>
    <div class="gas-bills">
      <h1>Historical Gas Bills</h1>
      <svg class="gas-graph"></svg>
      <table class="table">
        <tr>
          <th>Month</th>
          <th>Actual</th>
          <th>Predicted</th>
          <th>Difference</th>
        </tr>
      </table>
    </div>
  </div>

</div>

<br><br>
