.edit-bill
  = form_for @bill do |f|
    .form-group
      = f.label :amount
      = f.text_field :amount, class: 'form-control', placeholder: 'Amount'
    .form-group
      = f.label :bill_period, 'Bill Period'
      = f.date_field :bill_period, class: 'form-control'
    = f.hidden_field :utility, value: 'electric'
    = f.submit 'Edit bill', class: 'form-control'

  = link_to 'Delete bill', @bill, method: :delete
  %button.exit_edit Exit
