.edit-bill
  %p.notice
  %p.alert
  = form_for @bill do |f|
    .form-group
      = f.label :amount
      = f.text_field :amount, class: 'form-control', placeholder: 'Amount'
    .form-group
      = f.label :bill_period, 'Bill Period'
      = f.date_field :bill_period, class: 'form-control'
    = f.hidden_field :utility
    %button.bill-submit.btn.btn-default Edit bill
  = link_to 'Delete bill', @bill, method: :delete, class: 'delete-bill btn btn-default'
  %button.exit-edit.btn.btn-default Exit
