<!DOCTYPE html>
<html>
<head>
  <title>GridIt</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
          <%= link_to 'GridIt', root_path, class: 'navbar-brand' %>
       </div>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <!-- User NAV -->
         <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Edit user', edit_user_registration_path %> </li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%=  link_to 'Sign In', new_user_session_path %></li>
          <% end %>
         </ul>
         <% if user_signed_in? %>
           <p class="navbar-text">Signed in as <%= current_user.email %></p>
         <% end %>
       </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1>GridIt</h1>
    <p>A helpful utility bill tracker and predictor.</p>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- Welcome message for a visitor -->
  <% if !user_signed_in? %>
    <div class="welcome-msg">
      <h1>What are we about?</h1>
      <p>Are you frustrated with never knowing your upcoming utility bill?</p>
      <p>Ever want to see what your historical bills were like?</p>
      <p>And hang on a sec, it does cost more when it's really cold or hot, right?</p>
      <p>Combining all of the above logic, I made this simple app that simply put gives you all of that knowledge without any frustration.</p>
    </div>
  <% end %>

  <%= yield %>
  <br><br>

  <footer>
    <p>&copy;2014 by <a href="http://jordanmorano.biz/" alt="portfolio site">Jordan Morano</a></p>
  </footer>
</div>
</body>
</html>
